
@media only screen and (min-width: 680px) {
    .grid {
        height: 100vh;
        display: grid;
        grid-template-columns: 25% 70% 5%;
        grid-auto-rows: auto;
    }
    .about-page {
        grid-column: 2/5;
        grid-row: 1/4;
    }
    #right-arrow {
        display: inline-block;
    }
    .btn {
        font-size: 25px;
        float: right;
    }
}


@media only screen and (max-width: 680px) {
    .btn {
        font-size: 20px;
        float: right;
    }
    .grid {
        height: 100%;
        z-index: 1;
        display: grid;
        grid-template-columns: .1fr 1fr .1fr;
        grid-auto-rows: auto;
    }
    .about-page {
         grid-column: 2/2;
        grid-row: 2/10;
    }
    #name {
        margin-bottom: 0px;
    }
    #right-arrow {
        display: none;
    }
    
}

a:link {
    color: black;
}

a:visited {
    color: black;
    text-decoration: none;
}
.grid {
    margin-bottom: 100px;
}
footer {
    width: 50%;
    position: fixed;
    text-align: center;
    bottom: 5px;
    font-family: source-code-pro, monospace;
    font-weight: 300;
    font-size: 20px;
    height: 5%;
    z-index: 1;
    color: #FF4C30;
}
.menu {
    z-index: 2;
    padding: 2.5vw;
    position: fixed;
    width: 20vw;
    text-align: center;
}

ul {
    list-style: none;
    margin: 0px;
    font-size: 40px;
}
#right-arrow {
    color: #FF4C30;
    font-size: 25px;
    transform: translateX(15px);
    transition: transform .2s;
    font-family: 'Major Mono Display', monospace;
}

body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
}


#background {
    opacity: 1;
    position: absolute;
    display: block;
}
#back_color {
    background-color: rgb(250,250,250);
    width: 100%;
    height: 200vh;
    z-index: -3;
}
#backcover {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgb(250,250,250);
    z-index: -1;
    transition: opacity .5s;
}

#particles-js {
    transition: filter .5s;
    align-content: center;
    pointer-events: none;
    position: fixed;
    z-index: -2;
    width: 100%;
    height: 100vh;
    background: rgb(250,250,250);
}

#name {
    box-shadow: 0px 2px 5px rgba(0,0,0,0);
    border: dashed 1px #FF4C30;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 15px;
    color: #FF4C30;
    font-family: 'Major Mono Display', monospace;
    font-weight: lighter;
    font-size: calc(2vw + 1em);
    display: inline-block;
    border-radius: 5px;
}

#name:hover #o{
    color: #FF4C30;
}

#cat-menu {
    margin-top: 1.25%;
    margin-bottom: 1.25%;
    z-index: -1;
    float: right;
}

.cat-hide {
    transform: translateX(0px);
    opacity: 0;
}
.tools {
    position: fixed;
}
#opt-about, #opt-work {
    font-family: source-code-pro, monospace;
    font-weight: 200;
    cursor: pointer;
    display: inline-block;
    font-size: 30px;
    margin-left: 5%;
}

#opt-about:hover {
    color: #FF4C30;
}
#opt-work:hover {
    color: #FF4C30;
}
.menu-opts .active {
    color: #FF4C30;
}

.menu-opts {
    z-index: 0;
    opacity: 1;
    transition: opacity .1s, transform .2s ease-out;
    will-change: transform;
    text-align: end;
    margin-top: 5%;
}
.menu-hide {
    transform: translateY(-50px);
    opacity: 0;
}

.about-page {
    font-family: source-code-pro, monospace;
    display: none;
    height: 100vh;
    padding: 2.5vw;
    margin-bottom: 20vh;
}

.about-page h2 {
    font-weight: 300;
    font-size: calc(1vw + .5em);
}

#about-skills {
    list-style: disc;
    font-size: calc(1vw + .5em);
    padding-left: 20px;
}

#skills-title {
    font-size: calc(2vw + .5em);
    margin-bottom: 0;
    font-weight: 500;
}

#headshot {
    display: none;
    width: 250px;
    float: left;
    margin-top: 20px;
    margin-right: 50px;
}

h1 {
    font-weight: 500;
    display: inline-block;
}

.btn {
    display: block;
    border-bottom: dashed 0px #FF4C30;
    z-index: 1;
    font-family: source-code-pro, monospace;
    font-weight: 300;
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    padding: none;
    transition: transform .25s ease-out, opacity .25s ease;
    will-change: transform;
}

.btn.active {
    border-bottom: dashed 0px #FF4C30;
    color: #FF4C30;
}
.btn:hover {
    color: #FF4C30;
}