
@media only screen and (min-width: 1150px) {
    .grid {
        height: 100%;
        z-index: 1;
        display: grid;
        grid-template-columns: .25fr 1fr 1fr 1fr .25fr;
        grid-auto-rows: auto;
    }
    .menu {
        grid-row: 1/1;
        grid-column: 2/5;
    }
    
    .about-page {
         grid-column: 2/5;
        grid-row: 2/10;
    }
    #menu-opts {
        margin-left: 50px;
    }
    #opt-about, #opt-work {
        white-space: nowrap;
        display: inline-block;
        font-size: 30px;
        margin-left: 30px;
    }
    #right-arrow {
        display: inline-block;
    }
}
@media only screen and (max-width: 1150px) {
    .grid {
        height: 100%;
        z-index: 1;
        display: grid;
        grid-template-columns: .25fr 1fr 1fr .25fr;
        grid-auto-rows: auto;
    }
    .menu {
        grid-row: 1/1;
        grid-column: 2/4;
        white-space: nowrap;
        
    }
    
    .about-page {
         grid-column: 2/4;
        grid-row: 2/10;
    }
    #menu-opts {
        white-space: nowrap;
        margin-left: 30px;
    }
    #opt-about, #opt-work {
        display: inline-block;
        font-size: 30px;
        margin-left: 30px;
    }
    #right-arrow {
        display: inline-block;
    }
    .btn {
        white-space: nowrap;
    }
}

@media only screen and (max-width: 680px) {
    .about-page {
         grid-column: 2/4;
        grid-row: 2/10;
    }
    #name {
        margin-bottom: 0px;
    }
    #menu-opts {
        margin-left: 0px;
    }
    .menu {
        white-space: normal;
    }
    #opt-about, #opt-work {
        margin-left: 0;
        display: inline-block;
        font-size: 30px;
    }
    #right-arrow {
        display: none;
    }
    
}
.grid {
    margin-bottom: 100px;
}
footer {
    text-align: center;
    font-family: "Major Mono Display";
    font-size: 15px;
    font-weight: bolder;
    line-height: 40px;
}
.menu {
    color: #240C03;
}

ul {
    list-style: none;
    margin: 0px;
    font-size: 40px;
}
#right-arrow {
    color: #FF4C30;
    font-size: 30px;
    transform: translateX(-270px);
    transition: transform .5s;
    font-family: "Major Mono Display";
}

body {
    margin: 0;
    padding: 0;
}
#particles-js {
    transition: filter .5s;
    align-content: center;
    pointer-events: none;
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background: #00;
}

#particles-js2 {
    filter: blur(3px);
    transition: filter 1s;
    align-content: center;
    pointer-events: none;
    position: fixed;
    z-index: -2;
    width: 100%;
    height: 100vh;
    background: rgb(250,250,250);
}

#name {
    box-shadow: 0px 2px 5px rgba(0,0,0,.25);
    border: dashed 1px #FF4C30;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 15px;
    color: #FF4C30;
    font-family: "Major Mono Display";
    font-weight: lighter;
    font-size: 50px;
    margin-right: 0px;
    display: inline-block;
    border-radius: 5px;
}

#name:hover #o{
    color: #FF4C30;
}

#opt-about, #opt-work {
    font-family: "Major Mono Display";
    cursor: pointer;
    font-weight: lighter;
}

#opt-about:hover {
    color: #FF4C30;
}
.menu .active {
    color: #FF4C30;
}

.about-page {
    font-family: "Source Code Pro";
    display: none;
}

.about-page h2 {
    font-weight: lighter;
    font-size: calc(1vw + .5em);
}

#about-skills {
    font-weight: lighter;
    list-style:disc;
    color: #FF4C30;
    font-size: 15px;
    padding-left: 20px;
}

#skills-title {
    font-size: calc(2vw + 1em);
    margin-bottom: 0;
    color: #FF4C30;
}

#headshot {
    display: none;
    width: 250px;
    float: left;
    margin-top: 20px;
    margin-right: 50px;
}

#about-intro {
    display: inline-block;
    font-size: calc(1vw + .5em);
    font-weight: bolder;
}
.favorites {
    font-size: calc(1vw + 1em);
    margin-bottom: 0;
}

.btn {
    border-bottom: dashed 0px #FF4C30;
    z-index: 1;
    font-family: "Major Mono Display";
    font-size: 20px;
    font-weight: lighter;
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    padding: 0 0px;
    background-color: transparent;
    cursor: pointer;
}


.btn.active {
    border-bottom: dashed 1px #FF4C30;
    color: #FF4C30;
}
.btn:hover {
    color: #FF4C30;
}