
@media only screen and (min-width: 1150px) {
    .crop {
        min-width: 200px;
        min-height: 175px;
        filter: grayscale() opacity(.4) blur(.5px);
    }
    .images {
        min-height: 500px;
        min-width: 1000px;
        grid-column: 2/5;
        grid-row: 2/10;
        grid-template-columns: .5fr 1fr 1fr 1fr;
        grid-template-areas: 
        "cat box box mood"
        "cat wobl wobl mood"
        "cat plant xondas xondas"
        "cat pep cur mir";
    }
    .categories li {
        text-align: right;
        margin-left: -20px;
    }
}

@media only screen and (max-width: 1150px) {
    .crop {
        width: 100%;
        min-width: 250px;
        height: 150px;
        filter: grayscale() opacity(.4) blur(.5px);
    }
    
    .images {
        min-width: 800px;
        grid-column: 2/5;
        grid-row: 2/15;
        grid-template-columns: .5fr 1fr 1fr .25fr;
        grid-template-areas: 
        "cat box wobl"
        "cat mood xondas"
        "cat plant pep"
        "cat mir cur";
        
    }
    .categories li {
        text-align: right;
        margin-left: -20px;
    }
}

@media only screen and (max-width: 900px) {
    .crop {
        width: 100%;
        height: 150px;
        filter: grayscale() opacity(.4) blur(.5px);
    }
    .images {
        min-width: 0;
        grid-column: 2/4;
        grid-row: 2/10;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "cat cat"
        "box wobl"
        "mood xondas"
        "plant pep"
        "mir cur";
    }
    .categories li {
        float: left;
        margin-right: 30px;
        margin-left: none;
    }
    .categories {
        width: 100%;
    }
}

@media only screen and (max-width: 680px) {
    .crop {
        width: 100%;
        filter: grayscale(0) opacity(1) blur(0);
    }
    .images {
        grid-column: 2/4;
        grid-row: 2/10;
        grid-template-columns: 100%;
        grid-template-areas: 
        "box"
        "xondas"
        "plant"
         "wobl"
        "mir"
        "pep"
        "mood"
        "cur";
    }
    .categories li {
        display: none;
        line-height: 10px;
    }
    .categories {
        width: 100%;
    }
}

.images {
    z-index: 0;
    display: grid;
    grid-template-rows: auto;
    grid-gap: 15px;
}
.categories {
    grid-area: cat;
    white-space: nowrap;
}

.crop {
    cursor: pointer;
    border-radius: 4px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    object-fit: cover;
}

.images .show {
    filter: opacity(1);
    border:  2px #FF4C30;
    box-shadow: 0 2px 5px rgba(0,0,0,0.25);
}

.crop.show:active {
    filter: brightness(.9);
    box-shadow: 0 0px 0px rgba(0,0,0,0.2);
}


.images:hover + #particles-js {
    filter: blur(2px);
    image-resolution: 100px 200px;
}


.mood {
    grid-area: mood;
    background-position: 50% 30%;
}

.pep {
    grid-area: pep;
    background-size: 130%;
    background-position: 50% 35%;
}

.plant {
    grid-area: plant;
    background-size: 130%;
    background-position: 20% 33%;
}

.wobl {
    grid-area: wobl;
    background-size: 100%;
    background-position: 0% 25%;
}


.bliss {
    display: none;
    grid-area: bliss;
    background-size: 150%;
}
.dmix {
    display: none;
    grid-area: dmix;
    background-size: 100%;
    background-position: 0% 20%;
}

.rmp {
    display: none;
    grid-area: rmp;
    background-size: 100%;
    background-position: 0% 20%;
    transition: background-position 1.5s;
}

.calc {
    display: none;
    grid-area: calc;
    background-size: 110%;
    background-position: 50% 50%;
    transition: background-position 1.5s;
}

.xondas {
    grid-area: xondas;
    background-size: 120%;
    background-position: 50% 5%;
}
.other {
    grid-area: cur;
    background-size: 120%;
    background-position: 50% 50%;
}

.mir {
    grid-area: mir;
    background-size: 130%;
    background-position: 50% 20%;
}

.box {
    grid-area: box;
    background-size: 100%;
    background-position: 50% 50%;
}

.date {
    transform: rotateZ(90deg);
    display: block;
    opacity: 0;
    color: #FF4C30;
    font-family: "Major Mono Display";
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    transition: opacity 0;
    left: -50px;
    top: 45%;
}
.show.crop:hover .date {
    opacity: 1;
}
.img-title {
    display: inline-block;
    color: #FF4C30;
    font-family: "Major Mono Display";
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    bottom: 10%;
    transition: opacity 0;
    right: 2%;
    opacity: 0;
}
.show.crop:hover .img-title {
    opacity: 1;
}