
@media only screen and (min-width: 681px) {
    .crop {
        min-width: 60%;
        transform: translateX(-200%);
        transition: transform 0.5s ease, opacity .2s ease-out;
        display: none;
    }
    .images {
        transition: opacity 3s;
        grid-column: 2/3;
        grid-row: 1/5;
        grid-template-areas: 
            
            "page page page"
            "page page page"
            "page page page"
            "page page page"
            "page page page";
        /*
        grid-template-areas: 
            "box xondas plant"
        "pep wobl mir"
        "mood cur blank";
        */
        /*
        grid-template-areas: 
        " box box mood"
        " wobl wobl mood"
        " plant xondas xondas"
        " mir cur pep";
        */
    }
    .page {
        opacity: 1;
        grid-area: page;
        display: grid;
        grid-auto-rows: 30vh;
        grid-gap: none;
    }
    .proj-intro {
        width: 100%;
        font-family: source-code-pro, monospace;
        font-weight: 300;
        font-size: 15px;
        padding: 2.5%;
        background-color: rgba(255,255,255,0.75);
        border-radius: 0 4px 4px 0; 
    }

    .proj-title { 
        font-family: source-code-pro, monospace
        font-size: 20px;
        font-weight: 500;
    }
    .proj-tags {
        color: #FF4C30;
        font-weight: 300;
        text-align: end;
        
    }
    .proj-header {
        font-family: source-code-pro, monospace;
        font-size: 15px;
        display: flex;
        justify-content: space-between;
    }
    .proj-date {
        font-weight: 300;
        white-space: nowrap;
    }
    .proj-descrip {
        display: block;
    }
    
}

/*
@media only screen and (max-width: 1150px) {
    .crop {
        min-width: 200px;
        height: 150px;
        filter: grayscale() opacity(.4) blur(.5px);
    }
    
    .images {
        min-width: 800px;
        grid-column: 2/4;
        grid-row: 2/15;
        grid-template-areas: 
        " box wobl"
        " mood xondas"
        " plant pep"
        " mir cur";
        
    }
}
*/

@media only screen and (max-width: 680px) {
    .crop {
        width: 100%;
        transform: translateX(-200%);
        transition: transform 0.5s ease, opacity .2s ease-out;
        display: none;
    }
    .images {
        transition: opacity 3s;
        grid-column: 2/2;
        grid-row: 1/5;
        grid-template-areas: 
            "page"
            "page"
            "page"
            "page"
            "page"
            "page";
    }
    .page {
        opacity: 1;
        grid-area: page;
        display: grid;
        grid-auto-rows: 30vh;
        grid-gap: none;
    }
    .proj-descrip {
        display: none;
    }
    .proj-intro {
        display: none;
    }
    .proj-title { 
        
        font-family: source-code-pro, monospace
        font-size: 20px;
        font-weight: 500;
    }
    .proj-tags {
        display: none;
        width: 0;
    }
    .proj-header {
        z-index: 5;
        font-family: source-code-pro, monospace;
        font-size: 15px;
    }
    .proj-date {
        display: none;
        width: 0;
    }
}

#page1 {
    grid-template-areas: 
        "box"
        "wobl"
        "plant"
        "mir"
        "xondas";
}
#page2 {
    grid-template-areas: 
        "pep"
        "mood";
}
#page3 {
    grid-template-areas: 
        "photo"
        "dmix"
        "rmp";
}

.proj-entry {
    height: 25vh;
    opacity: 0;
    display: none;
    cursor: pointer;
    filter: brightness(0.9);
    transition: transform .25s ease-out, opacity .25s, filter 1s;
    will-change: transform;
    transform: scale(.9);
    border: dashed 0px #FF4C30;
    border-radius: 4px;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.15);
}




.proj-entry:active {
    
    box-shadow: 0px 0px 0px rgba(0,0,0,0.15);
    border: dashed 0px #FF4C30;
    
}
.proj-entry .crop {
    border-radius: 4px 0px 0px 4px;
    
}
.proj-entry.show {
    display: inline-flex;
}
.proj-entry.show .crop {
    transform: translateX(0);
    display: inline-block;
    
}

.proj-entry.show:hover {
    background-color: #FF4C30;
}
.proj-entry.swipe-out {
    opacity: 0;
}
.proj-entry.swipe-in {
    opacity: 1;
    transform: scale(1);
    filter: brightness(1);
}
.images {
    height: 100%;
    padding: 2.5vw;
    z-index: 0;
    display: grid;
    grid-auto-rows: auto;
}


.page_show {
    z-index: 1;
    opacity: 1;
}
.crop {
    border-radius: 4px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    object-fit: cover;
    z-index: 1;
    transition: all 1s ;
}

.images:hover + #particles-js {
    filter: blur(2px);
    image-resolution: 100px 200px;
}

.back-blur {
    filter: blur(2px);
}
.plant {
    grid-area: plant;
}
.plant .crop {
    background-position: 50% 35%;
    background-size: 100%;
}
.mood {
    grid-area: mood; 
}
.mood .crop {
    background-position: 50% 23%;
}
.pep {
    grid-area: pep;
}
.pep .crop {
    background-size: 130%;
    background-position: 50% 35%;
}
.wobl {
    grid-area: wobl;
}
.wobl .crop{
    background-size: 100%;
    background-position: 0% 25%;
}
.bliss {
    display: none;
    grid-area: bliss;
    background-size: 150%;
}
.dmix {
    display: none;
    grid-area: dmix;
    background-size: 100%;
    background-position: 0% 20%;
}
.rmp {
    display: none;
    grid-area: rmp;
    background-size: 100%;
    background-position: 0% 20%;
    transition: background-position 1.5s;
}
.calc {
    display: none;
    grid-area: calc;
    background-size: 110%;
    background-position: 50% 50%;
    transition: background-position 1.5s;
}
.xondas {
    grid-area: xondas;
}
.xondas .crop {
    background-size: 120%;
    background-position: 50% 5%;
}
.other {
    grid-area: cur;
    background-size: 120%;
    background-position: 50% 50%;
}

.mir {
    grid-area: mir;
}
.mir .crop {
    background-size: 100%;
    background-position: 50% 54%;
}
.photo {
    grid-area: photo;
}
.photo .crop {
    background-size: 100%;
    background-position: 50% 70%;
}
.box {
    grid-area: box;
}
.box .crop {
    background-size: 100%;
    background-position:50% 45%;
}



.img-title {
    display: inline-block;
    color: #FF4C30;
    font-family: source-code-pro, monospace;
    font-size: 20px;
    font-weight: 300;
    position: absolute;
    bottom: 5%;
    transition: opacity 0;
    right: 5%;
    opacity: 0;
}

@keyframes expand {
    from {
        z-index: 5;
        transform: scaleX(1);
    }
    to {
        z-index: 20;
        transform: scaleX(2);
    }
}
.animate {
    animation: expand 5s infinite;
}