
@media only screen and (min-width: 680px) {
    .modal-container {
        max-height: 85vh;
        margin: 5%;
        filter: drop-shadow(0 0 0px black);
        border-radius: 5px;
    }
}
@media only screen and (max-width: 680px) {
    .modal-container {
        max-height: 100vh;
        overflow: scroll;
        margin: 0;
        border-radius: 0px;
    }
}

.modal-container {
    position: fixed;
    overflow-y: auto;
    display: none; /* Hidden by default */
    z-index: 10; /* Sit on top */      
    overflow: auto; /* Enable scroll if needed */
    background-color: white;
}

.modal-content {
}

.modal-crop {
    width: 90%;
    border-radius: 5px;
    height: 50vh;
    margin-left: 5%;
    display: none;
    background-position: 50% 30%;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    object-fit: cover;
}
/* The Close Button */
.modal-content .close {
    position: absolute;
    top: 4px;
    left: 5%;
    width: 10px;
    font-family: "Major Mono Display";
    color: black;
    font-size: Lighter;
    font-size: 60px;
}
.modal-row {
    display: inline-block;
    width: 100%;
}
.modal-content .col {
    display: inline-block;
    float: left;
    color: #FF4C30;
    font-family: "Major Mono Display";
    min-width: 200px;
    width: 33%;
    margin-bottom: 10px
}
.col-title {
    font-size: 30px;
    font-weight: bold;
}
.col li{
    font-size: 20px;
    list-style: disc;
}
.modal-content .title {
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2);
    padding-right: 5%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
    text-align: right;
    padding-top: 2vh;
    padding-bottom: 2vh;
    position: sticky;
    top: 0;
    font-family: "Major Mono Display";
    font-size: 40px;
    font-weight: bolder;
    color: #FF4C30;
}

.modal-content .description {
    font-family: "Source Code Pro";
    font-size: 20px;
    display: lock;
    justify-content: center;
    align-items: center;
}
.modal-text {
    display: inline-block;
    padding-left: 5%;
    padding-right: 5%;
}

.modal-content h1 {
    font-family: "Source Code Pro";
}
.modal-image {
    max-width: 30%;
    min-width: 300px;
    display: inline-block;
}
.image-row {
    width: 100%;
}
.close:hover,
.close:focus {
  color: #FF4C30;
  text-decoration: none;
  cursor: pointer;
}
#modal-filter {
    display: none;
    position: fixed;
    z-index: 1;
    background-color: black;
    opacity: .1;
    width: 100%;
    height: 100vh;
}
#img-left {
    padding-bottom: 4px;
    height: 50px;
    width: 50px;
    border: none;
    z-index: 1;
    border-radius: 50px;
    border: dashed 2px white;
    font-family: "Major Mono Display";
    font-size: 40px;
    left: 7%;
    cursor: pointer;
    position: absolute;
    background-color: rgba(0,0,0,0.02);
    top: 52vh;
    color: white;
}
#img-right {
    padding-bottom: 4px;
    height: 50px;
    width: 50px;
    border: none;
    z-index: 1;
    border-radius: 50px;
    border: dashed 2px white;
    font-family: "Major Mono Display";
    font-size: 40px;
    right: 7%;
    cursor: pointer;
    position: absolute;
    background-color: rgba(0,0,0,0.02);
    top: 52vh;
    color: white;
}
#img-left:hover,#img-right:hover {
    border-color: #FF4C30;
    color: #FF4C30;
}