
@media only screen and (min-width: 680px) {
    .modal-container {
        max-height: 95vh;
        margin: 2.5vh 7.5vw 0% 7.5vw;
        filter: drop-shadow(0 0 0px black);
        border-radius: 5px;
    }
    .modal-images {
        grid-gap: 10px;
    display: grid;
        grid-template-columns: 2fr 1/2fr 1/2fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "one one two"
        "one one three";
    }
    #img-1 {
        grid-area: one;
        display: block;
    }
    #img-2 {
        grid-area: two;
        display: block;
    }
    #img-3 {
        grid-area: three;
        display: block;
    }
    #img-left,#img-right {
        display: none;
    }
    .modal-image-wide {
        width: 100%;
    }
    .modal-image-narrow {
        width: 33%;
    }
    .image-row {
        width: 100%;
        text-align: center;
        white-space: nowrap;
    }
}
@media only screen and (max-width: 680px) {
    .modal-container {
        height: 100vh;
        overflow: scroll;
        margin: 0;
        border-radius: 0px;
    }
    .modal-images {
        height: 30vh;
        display: block;
    }
    #img-1 {
        height: 100%;
        width: 100%;
        display: inline-block;
    }
    #img-2 {
        height: 100%;
        width: 100%;
        display: none;
    }
    #img-3 {
        height: 100%;
        width: 100%;
        display: none;
    }
    #img-left,#img-right {
        display: inline-block;
    }
    .modal-image-wide, .modal-image-narrow {
        max-width: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .image-row {
        width: 100%;
        white-space: normal;
    }
}

.modal-container {
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    position: fixed;
    overflow-y: auto;
    display: none;
    opacity: 0;
    z-index: 3; /* Sit on top */      
    overflow: auto; /* Enable scroll if needed */
    background-color: white;
}

.fade {
    transition: transform .3s, opacity .3s;   
}

.modal-show {
    display: block;
}
.modal-shrink {
    transform: scale(.75);
}
.modal-swipe {
    transform: translateX(-100vw);
}
.modal-opacity {
    opacity: 1;
}
.modal-images {
    height: 40vh;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 2.5vh;
}

.modal-crop {
    border: dashed 0px #FF4C30;
    border-radius: 5px;
    min-height: 100px;
    display: block;
    background-position: 50% 30%;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    object-fit: cover;
    box-shadow: 0 2px 5px rgba(0,0,0,0.25);
}
#quote {
    text-align: center;
    color: black;
}
.tags {
    color: #FF4C30;
    font-family: "Source Code Pro Light";
    font-weight: 100;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2.5vh;
}
.intro {
    font-family: "Source Code Pro";
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2.5vh;
    padding: 50px;
    border-radius: 5px;
    border: dashed 1px #FF4C30;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.modal-content .title {
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2);
    padding-left: 5%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
    text-align: left;
    padding-top: 5vh;
    padding-bottom: 2.5vh;
    position: sticky;
    top: 0;
    font-family: "Major Mono Display";
    font-size: 25px;
    font-weight: bolder;
}
.modal-content .close {
    font-weight: lighter;
    position: absolute;
    right: 5%;
    font-size: 50px;
    line-height: 0;
    top: calc(33% + 2.5vh);
}
.close:hover, .close:focus {
    color: #FF4C30;
    text-decoration: none;
    cursor: pointer;
}

.modal-row {
    display: inline-block;
    width: 100%;
    padding-left: 5%;
}


.modal-content .col {
    display: inline-block;
    float: left;
    color: black;
    font-family: "Source Code Pro";
    width: 33%;
    margin-bottom: 10px;
}
.col-title {
    font-size: calc(1vw + 1em);
    text-decoration: underline;
}
.col ul {
    padding-left: 15px;
}
.col li{
    font-size: calc(1vw + .2em);
    list-style: disc;
}


.description {
    border-top: solid black 1px;
    padding-top: 15px;
    padding-left: 5%;
    padding-right: 5%;
    font-family: "Source Code Pro Light";
    font-size: 20px;
    color: black;
}

.modal-text {
    align-content: center;
    display: inline-block;
    padding-left: 12.5%;
    padding-right: 12.5%;
    margin-bottom: 5%;
}

.modal-content h1 {
    font-size: calc(1vw + 1em);
    text-align: left;
    font-family: "Source Code Pro";
    font-weight: normal;
}
.modal-content h2 {
    font-family: "Source Code Pro Light";
    text-align: left;
    font-weight: normal;
    font-size: 15px;
}

#components{
    font-size: 20px;
    font-family: "Source Code Pro";
    font-weight: bolder;
}
#components li {
    padding-left: none;
    font-weight: lighter;
    font-size: 15px;
}

#modal-filter {
    position: fixed;
    z-index: -1;
    background-color: black;
    opacity: 0;
    width: 100%;
    height: 100vh;
}

#img-left {
    padding-bottom: 4px;
    height: 50px;
    width: 50px;
    border: none;
    z-index: 1;
    border-radius: 50px;
    border: dashed 2px white;
    font-family: "Major Mono Display";
    font-size: 40px;
    left: 7%;
    cursor: pointer;
    position: absolute;
    background-color: rgba(0,0,0,0.02);
    top: 30vh;
    color: white;
}
#img-right {
    padding-bottom: 4px;
    height: 50px;
    width: 50px;
    border: none;
    z-index: 1;
    border-radius: 50px;
    border: dashed 2px white;
    font-family: "Major Mono Display";
    font-size: 40px;
    right: 7%;
    cursor: pointer;
    position: absolute;
    background-color: rgba(0,0,0,0.02);
    top: 30vh;
    color: white;
}
#img-left:hover,#img-right:hover {
    border-color: #FF4C30;
    color: #FF4C30;
}